/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

	0.  Includes
	1.  Icons
	2.  Global
	3.  Home
	4.  Pagination
	5.  Single Post
	6.  Footer
	7.  Utilities
	8.  Media Queries

 */

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */

@import url(normalize.css);


/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Import the font file with the icons in it */
@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Apply these base styles to all icons */
.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

/* Each icon is created by inserting the corret character into the
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
	content: "\e000";
}
.icon-feed:before {
	content: "\e001";
}
.icon-twitter:before {
	content: "\e002";
	font-size: 1.1em;
}
.icon-google-plus:before {
	content: "\e003";
}
.icon-facebook:before {
	content: "\e004";
}


/* ==========================================================================
   2. Global - Setting up some base styles
   ========================================================================== */

html {
	height: 100%;
	max-height: 100%;
}

body {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-weight: 400;
	color: #4d4d4d;
	font-size: 18px;
	line-height: 1.4;
}

::-moz-selection {
	color: #fff;
	background: #4d4d4d;
	text-shadow: none;
}

::selection {
	color: #fff;
	background: #4d4d4d;
	text-shadow: none;
}

h1,
h2,
h3,
h4 {
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 700;
}

a {
	color: #4d4d4d;
	transition: color ease 0.3s;
}

a:hover {
	color: #5d5d5d;
}

code, tt {
	padding: 1px 3px;
	font-family: Inconsolata, monospace, sans-serif;
	font-size: 0.85em;
	white-space: pre;
	border: 1px solid #e3dfF3;
	background: #f7fafb;
	border-radius: 2px;
}

pre {
	box-sizing: border-box;
	margin: 1.6em 0;
	border: 1px solid #e3dfF3;
	width: 100%;
	padding: 10px;
	font-family: Inconsolata, monospace, sans-serif;
	font-size: 0.9em;
	white-space: pre;
	overflow: auto;
	background: #f7fafb;
	border-radius: 3px;
}

pre code {
	font-size: inherit;
	white-space: pre-wrap;
	background: transparent;
	border: none;
	padding: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #efefef;
	margin: 3.2em 0;
	padding: 0;
}

blockquote {
	box-sizing: border-box;
	margin: 1.6em -2.2em 1.6em 1.6em;
	padding: 0 1.6em 0 0;
	border-right: #4a4a4a 0.4em solid;
}

blockquote p {
	margin: 0.8em 0;
	font-style: italic;
}

blockquote small {
	display: inline-block;
	margin: 0.8em 0 0.8em 1.5em;;
	font-size: 0.9em;
	color: #ccc;
}

blockquote small:before {
	content: '\2014 \00A0';
}

blockquote cite {
	font-weight:bold;
}

blockquote cite a { font-weight: normal; }

/* ==========================================================================
   3. Home - The main styles for the the theme
   ========================================================================== */

.blog-header {
	background: #000;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	max-width: 360px;
}

.blog-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	box-shadow: inset -10px 0 10px rgba( 0, 0, 0, .1 );
}

.blog-meta {
	position: absolute;
	bottom: 0;
	padding: 50px 10% 30%;
	width: 100%;
	box-sizing: border-box;
}

.blog-title {
	font-size: 32px;
	line-height: 1;
	color: #fff;
	margin-bottom: 12px;
	text-shadow: 0 1px 3px rgba( 0, 0, 0, .3 );
}

.blog-description {
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	margin: 0;
	text-shadow: 0 1px 3px rgba( 0, 0, 0, .3 );
}

.wrapper {
	position: absolute;
	left: 25%;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-overflow-scrolling: touch;
}

.wrapper-inner {
	width: 100%;
	box-sizing: border-box;
	max-width: 810px;
	padding: 50px 85px;
}

.home-template .post {
	padding: 35px 0;
	border-top: 1px solid #ddd;
}

.blog-content .post:first-child {
	padding-top: 0;
	border-top: none;
}

.post-meta {
	font-size: 14px;
	color: #ddd;
}

.post-title {
	padding-bottom: 6px;
	margin: 0;
	font-weight: 700;
	font-size: 25px;
}

.post-title a {
	color: #000;
	text-decoration: none;
}

.post-excerpt p {
	margin: 0;
	padding-bottom: 6px;
}

.post-excerpt a {
	text-decoration: none;
	color: #4d4d4d;
}

.post-content a {
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

/* ==========================================================================
   4. Pagination - Tools to let you flick between pages
   ========================================================================== */

.pagination {
	position: relative;
	width: 100%;
	margin: 30px auto;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 13px;
	color: #ccc;
	text-align: center;
}

.pagination a {
	color: #ccc;
}

.older-posts,
.newer-posts {
	position: absolute;
	display: inline-block;
	text-decoration: none;
}

.older-posts {
	right: 0;
}

.page-number {
	display: inline-block;
	padding: 2px 0;
}

.newer-posts {
	left: 0;
}

/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */

.post-template .post {
	padding-top: 120px;
	max-width: 700px;
	margin: 0 auto;
	position: relative;
	padding: 120px 20px 0;
}

.post-template .post-side {
	position: absolute;
	top: 120px;
	left: -230px;
	width: 200px;
	text-align: right;
	font-size: 14px;
}

.post-template .post-title {
	font-size: 50px;
	color: #000;
}

.post-content p:first-child {
	font-size: 25px;
	font-style: italic;
}

.author-image {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-bottom: 30px;
}

.author-name {
	font-size: 16px;
	margin: 0;
}

.author-bio {
	font-weight: 400;
	font-style: italic;
	margin: 0;
}

.widget {
	padding-top: 10px;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.widget:before {
	content: '';
	background: #ccc;
	height: 1px;
	width: 50%;
	display: block;
	float: right;
}

.widget-title {
	clear: both;
	margin: 0;
	padding-top: 15px;
}

.post-tags ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-tags li {
}

.post-footer {
	padding: 10px 0 50px;
}

.share {
	text-align: center;
}

.share .icon-twitter,
.share .icon-google-plus,
.share .icon-facebook {
	font-size: 30px;
	margin: 0 10px;
}

.share .icon-twitter {
	color: #359bed;
}

.share .icon-google-plus {
	color: #d44132;
}

.share .icon-facebook {
	color: #3b5998;
}

/* ==========================================================================
   6. Footer - The bottom of every page
   ========================================================================== */

.blog-footer {
	padding-top: 20px;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 13px;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

/* ==========================================================================
   7. Utilities - These things get used a lot
   ========================================================================== */

/* Hides shit */
.hidden {
	display: none;
}

.aligncenter img {
	display: block;
	margin: 0 auto;
}

/* ==========================================================================
   8. Media Queries
   ========================================================================== */

@media only screen and (max-width: 900px) {

	.blog-header {
		position: relative;
		width: 100%;
		max-width: none;
		height: 300px;
	}

	.blog-meta {
		position: relative;
		width: 100%;
	}

	.wrapper {
		position: relative;
		width: 100%;
		left: auto;;
	}

	.wrapper-inner {
		padding: 50px 20px;
	}

}

@media only screen and (max-width: 1200px) {

	.post-template .post-side {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		text-align: left;
		margin-bottom: 30px;
	}
	.post-template .post {
		padding-top: 30px;
	}

	.widget {
		display: none;
	}

	.author-image,
	.author-name,
	.author-bio {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
}
